.container {
       
    padding: 0 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px 20px;
  }
  /* .container_outer_wrapper {
    display: flex;
    background-image: url("../../image/evan-bg-1.jpeg");
    background-size: cover;
    background-position: cover;
    width: 100%;
    padding: 30px 0;
  
  } */
  .login_container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
    width: 350px;
    
    height: 450px;
  }
  
  .login_form h4 {
    margin-bottom: 30px;
    color: gray;
    text-align: center;
  }
  .login_form p {
    margin-bottom: 30px;
    color: #666;
    text-align: center;
  }
  .link_color {
    color: #fe8402;
  }
  .link_bottom {
    color: #fff;
    background-color: #fe8402;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    width: 180px;
    text-align: center;
  }
  
  .form_group {
    margin-bottom: 15px;
    
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 25px;
    margin-left: 20px;
  }
  
  .btn_login {
    
    width: 180px;
    margin: 0 90px;
    align-content: center;
    background-color: #fe8402;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
    
  .register_link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #fe8402;
    font-size: 16px;
  }
  
  .register_link:hover {
    text-decoration: underline;
  }
  .right_container {
    width: 40%;
   
  }